body {
  font-family: arial;
  background: #f8f9fb; }

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

fieldset,
img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

#main-nav {
  background-color: #81642f; }
  #main-nav ul {
    width: 100%; }
    #main-nav ul:after {
      content: "";
      display: block;
      clear: both; }
  #main-nav li {
    float: left;
    width: 16.66667%; }
  #main-nav a {
    text-decoration: none;
    color: #FDFFFC;
    padding: 16px;
    display: block;
    text-align: center; }
    #main-nav a:hover {
      background-color: #886a32; }

section h1 {
  font-size: 35px;
  color: #81642f;
  margin-top: 20px; }

.lead-banner {
  width: 100%;
  position: relative;
  color: #FDFFFC;
  text-align: center; }
  .lead-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%; }
  .lead-banner img {
    width: 100%;
    -webkit-filter: brightness(50%);
    filter: brightness(50%); }
  .lead-banner span {
    font-size: 46px;
    display: block;
    font-weight: bold;
    text-transform: uppercase; }
  .lead-banner span.title {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 60px; }
  .lead-banner span.sub-title {
    text-transform: lowercase; }

.lessons-banner {
  width: 100%;
  position: relative;
  color: #FDFFFC;
  text-align: left; }
  .lessons-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%; }
  .lessons-banner img {
    width: 100%;
    -webkit-filter: brightness(50%);
    filter: brightness(50%); }
  .lessons-banner span {
    font-size: 46px;
    display: block;
    font-weight: bold;
    text-transform: uppercase; }
  .lessons-banner span.title {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 60px; }
  .lessons-banner span.sub-title {
    text-transform: lowercase; }
  .lessons-banner .wrapper {
    padding: 0px;
    margin-left: 5%;
    margin-top: 1%; }
  .lessons-banner li {
    margin: 25px 0; }
  .lessons-banner ul {
    padding-left: 40px;
    font-size: 20px; }

#services {
  margin-bottom: 60px; }
  #services li {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 33.33333%; }
  #services img {
    width: 60%;
    margin: 20px 20%; }
  #services a {
    text-decoration: none;
    color: #81642f;
    font-weight: bold; }
    #services a:hover {
      color: #2f4c81; }
  #services ul:after {
    content: "";
    display: block;
    clear: both; }

#projects li {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
  margin-top: 35px; }
  #projects li:nth-child(4n) {
    margin-right: 0; }
  #projects li img {
    width: 100%; }
