@import "reset";
@import "variables";
@import "mixins";

body {
    font-family: 'Roboto', sans-serif;
}

#main-nav {
    background-color: $darkRed;


    ul {
        width: 100%;
        @include clearFix;
    }

    li {
        float: left;
        width: (100% / 6);
    }

    a {
        text-decoration: none;
        color: $babyPowder;
        padding: 16px;
        display: block;
        text-align: center;

        &:hover {
            background-color: lighten($color: $darkRed, $amount: 2);
        }
    }
}

//end #main-nav

section h1 {
    font-size: $sectionHeading;
    color: $darkRed;
    margin-top: 20px;
}

.lead-banner {
    @include banner;
    text-align: center;

}

.lessons-banner {
    @include banner;
    text-align: left;

    .wrapper {
        padding: 0px;
        margin-left: 5%;
        margin-top: 1%;
    }

    li {
        margin: 25px 0;
    }

    ul {
        padding-left: 40px;
        font-size: 20px;
    }
}

#services {
    margin-bottom: 60px;

    li {
        float: left;
        box-sizing: border-box;
        text-align: center;
        width: (100% / 3);
    }

    img {
        width: 60%;
        margin: 20px 20%;
    }

    a {
        text-decoration: none;
        color: $darkRed;
        font-weight: bold;

        &:hover {
            color: complement($darkRed);
        }
    }

    ul {
        @include clearFix;
    }
}

#projects li {
    @include grid(4, 2%);
    margin-top: 35px;

    img {
        width: 100%;
    }
}